:root {
    --color-ink: var(--c15-bright-white);
    --color-ink-muted: var(--c7-var(--c7-white));
    --color-canvas: var(--c0-black);

    --color-border: var(--c8-bright-black);
    --color-canvas-raised: color-mix(
        in srgb,
        var(--color-canvas) 85%,
        var(--color-border)
    );

    --color-link: var(--c12-bright-blue);
    --color-positive: var(--c10-bright-green);
    --color-negative: var(--c9-bright-red);
    --color-warning: var(--c11-bright-yellow);

    --color-accent: var(--c13-bright-magenta);

    --color-primary: var(--c5-magenta);
    --color-primary-muted: color-mix(
        in srgb,
        var(--color-primary) 15%,
        transparent
    );

    --color-primary-hover: color-mix(
        in srgb,
        var(--color-primary) 85%,
        var(--color-canvas)
    );
}
