:root,
[data-theme="dark"] {
    --c0-black: #16141f;
    --c1-red: #eb6f92;
    --c2-green: #95b1ac;
    --c3-yellow: #f6c177;
    --c4-blue: #31748f;
    --c5-magenta: #c4a7e7;
    --c6-cyan: #9ccfd8;
    --c7-white: #e0def4;

    --c8-bright-black: #524f67;
    --c9-bright-red: #eb6f92;
    --c10-bright-green: #95b1ac;
    --c11-bright-yellow: #f6c177;
    --c12-bright-blue: #31748f;
    --c13-bright-magenta: #c4a7e7;
    --c14-bright-cyan: #9ccfd8;
    --c15-bright-white: #e0def4;
}

@media (prefers-color-scheme: light) {
    :root {
        --c0-black: #f8f0e7;
        --c1-red: #b4637a;
        --c2-green: #6d8f89;
        --c3-yellow: #ea9d34;
        --c4-blue: #286983;
        --c5-magenta: #907aa9;
        --c6-cyan: #56949f;
        --c7-white: #464261;

        --c8-bright-black: #cecacd;
        --c9-bright-red: #b4637a;
        --c10-bright-green: #6d8f89;
        --c11-bright-yellow: #ea9d34;
        --c12-bright-blue: #286983;
        --c13-bright-magenta: #907aa9;
        --c14-bright-cyan: #56949f;
        --c15-bright-white: #464261;
    }
}

:root {
    --color-ink: var(--c15-bright-white);
    --color-ink-muted: var(--c7-var(--c7-white));
    --color-canvas: var(--c0-black);

    --color-border: var(--c8-bright-black);
    --color-canvas-raised: color-mix(
        in srgb,
        var(--color-canvas) 85%,
        var(--color-border)
    );

    --color-link: var(--c12-bright-blue);
    --color-positive: var(--c10-bright-green);
    --color-negative: var(--c9-bright-red);
    --color-warning: var(--c11-bright-yellow);

    --color-accent: var(--c13-bright-magenta);

    --color-primary: var(--c5-magenta);
    --color-primary-muted: color-mix(
        in srgb,
        var(--color-primary) 15%,
        transparent
    );

    --color-primary-hover: color-mix(
        in srgb,
        var(--color-primary) 85%,
        var(--color-canvas)
    );
}
