@import "./colors.css";
@import "./base.css";
@import "./blocks.css";
@import "./utilities.css";
@import "./blockkit/blockkit.css";

@font-face {
    font-family: "Fredoka";
    font-style: normal;
    font-weight: 300 700;
    font-stretch: 75% 125%;

    src:
        local(""),
        url("./assets/fonts/FredokaVar.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 100%;
    src:
        local(""),
        url("./assets/fonts/RobotoVar.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

li {
    margin-left: 1.5em;
}
